/* Default Styles */
body {
  background-color: #D6C9F1;
  color: #333;
  font-size: 16px;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Light Mode */
body.light-mode {
  background-color: #ffffff;
  color: #333;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #ffffff;
}

/* Large Text */
body.large-text {
  font-size: 20px;
}

/* High Contrast */
body.high-contrast {
  background-color: #000;
  color: #ffff00;
}
