/* Styling for All */
  html { 
    box-sizing: border-box; 
  }
*, *:before, *:after { 
  box-sizing: inherit; 
}
img { 
  box-sizing: content-box; 
}

a:focus{
  outline:thin dotted;
  }

  .component {
    /* designed to work in default box-sizing */
    /* in your page, you could reset it to normal */
    box-sizing: content-box;
  }

/* Nav Bar Styling */

.navbar {
  background-color: #2F356D;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 900%;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

a.navbar {
  color: #FFFFFF;
}

.funcbar {
  background-color: #2F356D;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 10px;
  height: 70px;
  width: 80%;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Header Styling */
  

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Root Elements */

:root {
  --main-text-color: black;
  --main-background-color: #C9C5EB;
  --link-text-color: white;
  --button-body-color: #484297;
  --button-border-color: black;
}

/* Color Menu Styling */

.color-menu {
    font-family: sans-serif;
    background: #d3d3d3;
    padding: 5px;;
    width: 75px;
    border: true;
    border-style: groove;
    z-index: 100;
    position: fixed;
    bottom: 50px;
    right: 15px;
  }

.color-menu a, 
.color-menu h3 {
    font-size: 0.9em;
    display: block;
    color: black;
  }

/* Color Menu Root Changes */

.tritBody{
  background-color: #FEE1E6;
}

.tritButton{
  background-color: #6584A3;
}

.deutBody{
  background-color: #E6E596;
}

.deutButton{
  background-color: #0031A2;
}

.monoBody{
  background-color: #CDDCD9;
}

.monoButton{
  background-color: #142225;
}

/* Footer Styling */

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}

/* Link Styling */

a:link {
  color: var(--link-text-color);
  text-decoration: none; 
}

a:visited {
  color: white;
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
} 

a:active { 
  text-decoration: none; 
}

/* Body Styling */

body {
  justify-content: center;
  align-items: center;
  font-family: Hack, monospace;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

/* Styling for TTS Instructions */

.info {
  color: #727272;
  text-align: center;
  margin: 3rem;
}
